
.about-main{
    background-color: #030311;
    color: #fff;
}
.about-header{
    font-size: 40px;
    padding-top: 10px;

}

.about-content p{
    font-size: 20px;
}



.skill h1{
    font-size: 50px;
    margin: 30px 0;
}

.skill img{
    width: 80px;
    margin-top: 30px;
}
