

.banner-main{
    background-color: #02021a;
}
.banner-main h5{
    font-size: 20px;
}
.banner-main h1{
    font-size: 50px;
}
.banner-main h3{
    margin: 20px 0;
}


/* resposive */


@media screen and (max-width: 700px) {
    .banner-main h3{
        font-size: 20px;
    }
     }