

.project-main{
    background: #02021a;
}

.porject-header{
    color: #fff;
    padding: 10px 0;
}

.card-img{
    border: 1px solid #fff;
}
.porject-header h2{
    margin: 30px 0;
    font-size: 45px;
}
.porject-header h4{
    margin: 30px 0;
    font-size: 35px;
}

.project-card{
    background: #02021a;
    border: 1px solid #fff;
    color: #fff;
}

.card-details li{
    margin-left: 10px;
    color: rgb(124, 216, 216);

}